.right__section {
  background-color: blue;
  float: right;
  width: 25%;
}
.main__section {
  width: 50%;
  background-color: blanchedalmond;
  float: right;
}
.left__section {
  width: 25%;
  padding: 10px;
}
.list__section {
  background-color: grey;
  border-radius: 5px;
}
.list__header {
  display: flex;
  column-gap: 5px;
  color: white;
  border-radius: 5px;
  background-color: rgb(27, 27, 27);
  border-bottom: rgb(70, 69, 69);
}
.list__header > h3 {
  padding: 8px;
  margin: auto;
  font-size: 1.2rem;
}
.list__header > input {
  padding: 10px;
}
